<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="layout/head :: head('Authenticated')"></head>

<body class="vh-100 d-flex flex-column justify-content-center">

<header th:replace="layout/header.html :: header"></header>

<main class="container margin-top d-flex flex-column justify-content-center text-center">
    <h1 class="text-primary">Authenticated</h1>
    <form th:action="@{/logout/process}" method="post">
        <button type="submit"   class="btn btn-primary">Logout</button>
    </form>
</main>

<footer th:replace="layout/footer.html :: footer"></footer>

</body>
</html>