<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
  <head th:replace="layout/head :: head('Log in')"></head>

  <body
    class="vh-100 vw-100 d-flex flex-column justify-content-center align-items-center bg-light"
  >
    <div class="card text-center px-2 py-3 mb-3" style="width: 20rem">
      <h1>I forgot password</h1>

      <div class="card-body">
        <form
          th:action="@{/users/reset-password}"
          th:object="${body}"
          method="post"
          class="form-horizontal"
        >
          <div class="mb-3">
            <label class="form-label" for="email"> Email:</label>
            <div class="col-xs-10">
              <input
                id="email"
                type="text"
                name="email"
                class="form-control text-center"
                th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'"
              />
              <span
                th:if="${#fields.hasErrors('email')}"
                th:errors="*{email}"
                class="invalid-feedback"
                th:value="${#fields.errors('email')}"
                >Email error</span
              >
            </div>
          </div>
          <div class="form-actions mt-5">
            <input
              type="submit"
              class="btn btn-primary w-100"
              value="Reset password"
            />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
